body {
  background-color: rgb(37, 37, 37);
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 400px;
  height: 400px;

  transition: 250ms;
}

.position {
  position: absolute;
  border: 2px solid whitesmoke;
  inset: 0;
}
.ring1 {
  border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
  animation: rotate-animation 6s linear infinite;
}
.ring2 {
  border-radius: 41% 46% 63% 50%/ 41% 44% 56% 59%;
  animation: rotate-animation 4s linear infinite;
}
.ring3 {
  border-radius: 36% 45% 63% 45%/ 41% 44% 56% 59%;
  animation: rotate-animation 10s linear infinite;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main:hover,
.main:focus-within {
  width: 500px;
  height: 500px;
}

.main:hover .ring1,
.main:focus-within .ring1 {
  border: 6px solid rgb(255, 187, 60);
  filter: drop-shadow(0 0 20px rgb(255, 187, 60));
}

.main:hover .ring2,
.main:focus-within .ring2 {
  border: 6px solid rgb(255, 53, 53);
  filter: drop-shadow(0 0 20px rgb(255, 53, 53));
}
.main:hover .ring3,
.main:focus-within .ring3 {
  border: 6px solid rgb(70, 248, 46);
  filter: drop-shadow(0 0 20px rgb(70, 248, 46));
}

.container {
  position: absolute;
}
h1 {
  color: azure;
  text-align: center;
}
.input-box {
  width: 100%;
}
input {
  font-family: "Rajdhani";
  font-size: 1rem;
  font-weight: 700;
  color: aliceblue;

  position: relative;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 40px;
  outline: none;
  box-shadow: none;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.button {
  font-style: italic;
  width: 100%;
  background: linear-gradient(
    278deg,
    rgba(245, 50, 50, 1) 0%,
    rgba(251, 219, 63, 1) 100%
  );
  border: none;
  cursor: pointer;

  font-family: "Rajdhani";
  font-size: 1.2rem;
  font-weight: 700;
  color: aliceblue;

  margin-bottom: 10px;
  transition: box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button:focus,
.button:hover {
  box-shadow: 0px 0px 10px 4px rgb(241, 71, 71);
}

.links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  color: aliceblue;
  text-decoration: none;
}
