body {
  background-color: rgb(58, 58, 58);
}
.cent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center {
  font-family: "Rajdhani", sans-serif;
  color: rgb(119, 182, 122);
  font-weight: 700;
  font-size: 40px;
  max-width: 1100px;
  margin: 200px auto 0 auto;
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px solid #67b6ff;
  padding: 40px;
}
h1 {
  color: #67b6ff;
  font-size: 100px;
}
p {
  margin: 0;
}
input {
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
button {
  padding: 5px;
  background-color: #93c4fd;
  border: 2px solid #1c90fc;
  border-radius: 10px;
  padding: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
button:active {
  color: white;
  background-color: #1c90fc;
  border-color: #93c4fd;
}
.radio {
  font-size: medium;
  color: cornflowerblue;
}
